<section
  class="w-1/2 mx-auto bg-gray-100 p4-4 rounded border-gray-100 border-2 shadow"
>
  <h1 class="text-red-800 text-center">ForgotPasseord</h1>
  @if (step==1) {
  <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
    <div class="mb-1">
      <label for="email" class="block mb-2 ms-2 text-sm font-medium text-black"
        >email</label
      >
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (verifyEmail.get('email')?.errors&&verifyEmail.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            <li>This field is required.</li>
          </ul>
        </div>
      </div>
      }
    </div>
    <button [disabled]="isLoding" type="submit" class="btn-main">
      Verifyemail @if (isLoding) {
      <span> <i class="fas fa-spin fa-spinner"></i> </span> }
    </button>
  </form>
  } @else if (step==2) {
  <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
    <div class="mb-1">
      <label
        for="resetCode"
        class="block mb-2 ms-2 text-sm font-medium text-black"
        >resetCode</label
      >
      <input
        formControlName="resetCode"
        type="text"
        id="resetCode"
        class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (verifyCode.get('email')?.errors&&verifyCode.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            <li>This field is required.</li>
          </ul>
        </div>
      </div>
      }
    </div>
    <button [disabled]="isLoding" type="submit" class="btn-main">
      VerifyCode @if (isLoding) {
      <span> <i class="fas fa-spin fa-spinner"></i> </span>

      }
    </button>
  </form>
  } @else if (step==3) {
  <form [formGroup]="rePassword" (ngSubmit)="rePasswordSubmit()">
    <div class="mb-1">
      <label for="email" class="block mb-2 ms-2 text-sm font-medium text-black"
        >email</label
      >
      <input
        readonly
        formControlName="email"
        type="email"
        id="email"
        class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (verifyEmail.get('email')?.errors&&verifyEmail.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            <li>This field is required.</li>
          </ul>
        </div>
      </div>
      }
    </div>
    <div class="mb-1">
      <label
        for="newPassword"
        class="block mb-2 ms-2 text-sm font-medium text-black"
        >newPassword</label
      >
      <input
        formControlName="newPassword"
        type="password"
        id="newPassword"
        class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (rePassword.get('newPassword')?.errors&&rePassword.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (rePassword.get('newPassword')?.getError('required')) {
            <li>This field is required.</li>

            } @else if (rePassword.get('newPassword')?.getError('pattern')) {
            <li>Enter Valid Password</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <button [disabled]="isLoding" type="submit" class="btn-main">
      verify new password @if (isLoding) {
      <span> <i class="fas fa-spin fa-spinner"></i> </span> }
    </button>

    <!-- <button [disabled]="rePassword.invalid" class="btn-main">
          verify new password
        </button> -->
  </form>
  }
</section>
