<section class="m-sec-style w-[75%] mx-auto">
  <h1 class="text-green-800 text-center text-4xl">Wish List</h1>

  @for (item of wish(); track wish) {

  <div class="main-div grid md:grid-cols-[10%_minmax(0,1fr)] gap-4 border-b">
    <!-- img -->
     
    <div>
      <img [src]="item.imageCover" class="w-full h-[100px] object-contain" />
      
    </div>

    <div class="flex justify-between items-center">
      
      <div>
        <h3>{{ item.title.split(" ", 2) }}</h3>
        <h4 class="text-green-500">
          Price: {{ item.price | currency : "GBP" }}
        </h4>
        <button (click)="clearItem(item.id)">
          <i class="text-red-600 fa fa-trash-can"></i> Remove
        </button>
      </div>
      <button
      (click)="addCartItem(item.id)"
      class=" bg-green-700 text-white w-[200px] h-[50px] border rounded"
    >
      Add To Cart
    </button>
    </div>
  </div>
  }
</section>
